<main>
    <div class="contact_info">
        <h4>email / meets</h4>
        <a href="mailto:andrew@varystrategic.com">andrew@varystrategic.com</a>
    </div>
    <div class="contact_info">
        <h4>call / texts</h4>
        <a href="tel:+1-773-620-6740">773.620.6740</a>
    </div>
    <form class="contact_form">
        <h3>Send a message</h3>
        <input type="text" name="contact_name" placeholder="First Last">
        <input type="email" name="contact_email" placeholder="flast@emailthing.com">
        <textarea name="contact_message" placeholder="OMG your designs are so awesome!"></textarea>
        <button role="button" type="submit" class="button">Send</button>
    </form>
</main>
