<nav class="internal">
    <button role="button" type="button" class="button" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"><i data-feather="layers"></i></button> 
    <button role="button" type="button" class="button" routerLink="/contact" routerLinkActive="active"><i data-feather="mail"></i></button>
    <a role="button" class="button" href="tel:+1-773-620-6740"><i data-feather="smartphone"></i></a>
</nav>

<div class="hang">

    <div class="spineline tagline"><div>Strategic Web<br>Design / Development</div></div>

    <div class="spineline byline"><div>©{{year}} Vary. All Rights Reserved.</div></div>
    
    <nav class="external">
        <a href="https://www.linkedin.com/company/vary/" role="link" target="_blank"><i data-feather="linkedin"></i></a> 
        <a href="https://twitter.com/varystrategic" role="link" target="_blank"><i data-feather="twitter"></i></a>
    </nav>

</div>
