
// Bootstrap overrides
$primary: #114466;
$secondary: #888;
$green: #5b5;

// custom colors
$color-instec-yellow: #d4da8e; // instec yellow
$color-primary-darkish: darken( $primary, 5% );
$color-primary-dark: darken( $primary, 10% );
$color-primary-darker: darken( $primary, 15% );
$color-primary-light: lighten( $primary, 5% );
$color-primary-lighter: lighten( $primary, 10% );
$color-primary-lightest: lighten( desaturate( $primary, 25% ), 70% );
$color-primary-fade: desaturate( $primary, 35% );
$color-action: #4488cc; // revision mode background color
$color-action-waiting: #788c9a;
$color-active: #9977bb;
$color-lightyellow: #fdfddd;

:root {
    --color-instec-yellow: #{$color-instec-yellow};
    --color-primary-darkish: #{$color-primary-darkish};
    --color-primary-dark: #{$color-primary-dark};
    --color-primary-darker: #{$color-primary-darker};
    --color-primary-light: #{$color-primary-light};
    --color-primary-lighter: #{$color-primary-lighter};
    --color-primary-lightest: #{$color-primary-lightest};
    --color-primary-fade: #{$color-primary-fade};
    --color-action: #{$color-action};
    --color-action-waiting: #{$color-action-waiting};
    --color-active: #{$color-active};
    --color-lightyellow: #{$color-lightyellow};
}
