<header>
    <h1>Strategy / Design / Code</h1>
</header>

<p class="balance-text">Building a secure, performant, brand-centric website takes time. A good chunk of that time must be spent together with you, before any creative or coding starts, to form a comprehensive understanding of what you do, how you do it and whom you’re doing it for. Knowing you better, learning about your needs and preferences, inevitably results in a better website. A clear direction and hierarchy of needs greatly reduces assumptions; the number one cause of scope and budget creep.</p>

<p class="balance-text">The process is both linear and varied. It starts with discovery and research and goes into design and development and ends with launch and maintenance. More strategy is required in the beginning—figuring out content types, brand adhesion, tone, style, etc.—but throughout the entire project, everything will be considered, every piece will have purpose, every t will be crossed, every i will be dotted and every pixel will be perfect.</p>

<a href="mailto:andrew@varystrategic.com">andrew@varystrategic.com</a>

<h2>Processes</h2>
<div class="lists">
    <div class="list">
        <h3>Essential</h3>
        <ul>
            <li>Research</li>
            <li>Strategy</li>
            <li>Design</li>
            <li>Development</li>
        </ul>
    </div>
    <div class="list">
        <h3>Might Need</h3>
        <ul>
            <li>Branding</li>
            <li>Photography</li>
            <li>Videography</li>
            <li>Illustration</li>
        </ul>
    </div>
</div>
